
<div class="card card2" >
  <div class="card-body"></div>
  <div class="card-header test1" style="background-color:#C8C8C8"><strong>Booking details</strong></div>
        <ul class="test1 card-header"><strong>Booking details</strong>
        <li class="card-title mt-3" >Book Title: <%= @rental.book.title %></li>
        <li  >Author: <%= @rental.book.author %></li>
        <li >Delivery Location: <%= @rental.pickup_location %></li>
        <!-- OPTIONAL NICE-TO-HAVE: Rental days and total fee calculation
        -> add when this feature is implemented on rental submission form -->

        <li >Rental Start Date: <%= @rental.pickup_date %></li>
        <li >Return Date: <%= @rental.return_date %></li>

        <li >Book owner: <%= @rental.book.owner.full_name %></li>
        <li >Book owner email: <%= @rental.book.owner.email %></li>

        <div class="alert alert-success" >
        Successfull Booking!
        <p>Happy Reading!</p>
        </div>
       </ul>
        <br>
  </div>
</div>

      <div class="card">
        <li><%= link_to 'Back to all books', books_path, class:"btn btn-primary mt-3"%></li>
        <p><%= link_to 'My profile', user_path(current_user.id), class:"btn btn-primary mt-3" %></p>
        <p><%= link_to 'Back to all books', books_path %></p>
        <p><%= link_to 'My profile', user_path(current_user.id) %></p>
      </div>
     <img class="img col-lg-2 center " src="https://images-na.ssl-images-amazon.com/images/I/41J6Qjnn60L._SX311_BO1,204,203,200_.jpg" alt="Card image cap">


