
<div class="banner" style="background-image: url(<%=image_path "banner.svg" %>);">
  <div class="container">
    <h1 style="font-weight: bolder"><strong>Save up to 90% now</strong></h1>
    <h1><strong>by renting books in RentaBook</strong></h1>
    <p> Reading books should never mean bankruptcy. <p>
    <a><%= link_to "Browse our collection", books_path, class: "btn btn-color-banner" %></a>

  </div>
</div>

<br>
<br>
  <div class="container-why">
    <h2 class="text-center border-bottom border-dark m-3">Why RentaBook?</h2>

    <div class="cards-why">
      <div class="card-why">
        <img src="<%=image_path "saving.jpg" %>" alt="Astronaut standing next to rocket on the moon.">
        <h3>Saving Money</h3>
        <p>You'll save more than 90% off the list price if you rent. </p>
      </div>
      <div class="card-why">
        <img src="<%=image_path "convenient.jpg" %>" alt="A group of friends clinking their beer bottles together.">
        <h3>Convenient Rental Terms</h3>
        <p>We're available for any duration of rent time period.</p>
      </div>
      <div class="card-why">
        <img src="<%=image_path "condition.jpg" %>" alt="A woman with her certificate.">
        <h3>Book Conditions</h3>
        <p>Don't worry, We ensure all provided books in our inventory is good. </p>
      </div>
    </div>
  </div>

<div class="choose-category" style="margin-top: 100px">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h4>Pick a category</h4>
        <p>that you're currently interested in</p>
      </div>
    </div>
  </div>
</div>

<div class="content cards", style="margin-top: 3px">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(<%=image_path "Action.jpg" %>)">
      <%= link_to "Action", books_path(query:"Action") %>
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(<%=image_path "Business.jpg" %>)">
      <%= link_to "Business", books_path(query:"Business") %>
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(<%=image_path "Biography.jpg" %>)">
      <%= link_to "Biography", books_path(query:"Biography") %>
    </div>

  	<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(<%=image_path "Children.png" %>)">
      <%= link_to "Children", books_path(query:"Children") %>
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.3)), url(<%=image_path "Crime.jpg" %>)">
      <%= link_to "Crime", books_path(query:"Crime") %>
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(<%=image_path "Comic.jpg" %>)">
      <%= link_to "Comic", books_path(query:"Comic") %>
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(<%=image_path "Drama.jpg" %>)">
      <%= link_to "Drama", books_path(query:"Drama") %>
    </div>

  	<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(<%=image_path "Education.jpg" %>)">
      <%= link_to "Education", books_path(query:"Education") %>
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(<%=image_path "Fantasy.jpg" %>)">
      <%= link_to "Fantasy", books_path(query:"Fantasy") %>
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(<%=image_path "Humor.jpg" %>)">
      <%= link_to "Humor", books_path(query:"Humor") %>
    </div>

  	<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(<%=image_path "Romance.jpg" %>)">
      <%= link_to "Romance", books_path(query:"Romance") %>
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(<%=image_path "Mystery.jpg" %>)">
      <%= link_to "Mystery", books_path(query:"Mystery") %>
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(<%=image_path "Satire.jpg" %>)">
      <%= link_to "Satire", books_path(query:"Satire") %>
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(<%=image_path "Sci-Fi.jpg" %>)">
      <%= link_to "Sci-Fi", books_path(query:"Sci-Fi") %>
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(<%=image_path "Self-help.jpg" %>)">
      <%= link_to "Other", books_path(query:"Other") %>
    </div>



</div>

