
<div class="banner" style="background-image: url(<%=image_path "banner.svg" %>);">
  <div class="container">
    <h1 style="font-weight: bolder"><strong>Save up to 90% now</strong></h1>
    <h1><strong>by renting books in RentaBook</strong></h1>
    <p> Reading books should never mean bankruptcy. <p>
    <a><%= link_to "Browse our collection", books_path, class: "btn btn-color-banner" %></a>

  </div>
</div>

<br>
<br>
  <div class="container-why">
    <h2 class="text-center border-bottom border-dark m-3">Why RentaBook?</h2>

    <div class="cards-why">
      <div class="card-why">
        <img src="<%=image_path "saving.jpg" %>" alt="Astronaut standing next to rocket on the moon.">
        <h3>Saving Money</h3>
        <p>You'll save more than 90% off the list price if you rent. </p>
      </div>
      <div class="card-why">
        <img src="<%=image_path "convenient.jpg" %>" alt="A group of friends clinking their beer bottles together.">
        <h3>Convenient Rental Terms</h3>
        <p>We're available for any duration of rent time period.</p>
      </div>
      <div class="card-why">
        <img src="<%=image_path "condition.jpg" %>" alt="A woman with her certificate.">
        <h3>Book Conditions</h3>
        <p>Don't worry, We ensure all provided books in our inventory is good. </p>
      </div>
    </div>
  </div>

<div class="choose-category" style="margin-top: 100px">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h4>Pick a category</h4>
        <p>that you're currently interested in</p>
      </div>
    </div>
  </div>
</div>

<div class=" content cards", style="margin-top: 3px">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(<%=image_path "Action.jpg" %>)">
      Action<%#=link_to "Action", book_path(@book) %>
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(<%=image_path "Business.jpg" %>)">
      Business
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(<%=image_path "Biography.jpg" %>)">
      Biography
    </div>

  	<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(<%=image_path "Children.png" %>)">
      Children
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.3)), url(<%=image_path "Crime.jpg" %>)">
      Crime
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(<%=image_path "Comic.jpg" %>)">
      Comic
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(<%=image_path "Drama.jpg" %>)">
      Drama
    </div>

  	<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(<%=image_path "Education.jpg" %>)">
      Education
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(<%=image_path "Fantasy.jpg" %>)">
      Fantasy
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(<%=image_path "Humor.jpg" %>)">
      Humor
    </div>

  	<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(<%=image_path "Romance.jpg" %>)">
      Romance
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(<%=image_path "Mystery.jpg" %>)">
      Mystery
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(<%=image_path "Satire.jpg" %>)">
      Satire
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(<%=image_path "Sci-Fi.jpg" %>)">
      Sci-Fi
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(<%=image_path "Self-help.jpg" %>)">
      Self-help
    </div>



</div>

