
<!-- main container incl the listed book product cards -->
<div class="content">
  <div style="background-color: white" class = "container ">

    <!-- <div>
      <%#= simple_form_for :filter, url: books_path,
                          method: "GET" do |f| %>
        <%#= f.input :query, label: "Categories",  collection: Book::CATEGORIES, input_html: {value: ""}%>
        <%#= f.submit "Filter", class: "btn btn-color-banner" %>
        <%#= link_to "Reset", books_path, class: "btn btn-primary"  %>
      <%# end %>
    </div> -->

    <ul>
      <li><%= link_to "Action", books_path(query:"Action") %></li>
      <li><%= link_to "Business", books_path(query:"Business") %></li>
      <li><%= link_to "Biography", books_path(query:"Biography") %></li>
      <li><%= link_to "Children", books_path(query:"Children") %></li>
      <li><%= link_to "Crime", books_path(query:"Crime") %></li>
      <li><%= link_to "Comic", books_path(query:"Comic") %></li>
      <li><%= link_to "Drama", books_path(query:"Drama") %></li>
      <li><%= link_to "Education", books_path(query:"Education") %></li>
      <li><%= link_to "Fantasy", books_path(query:"Fantasy") %></li>
      <li><%= link_to "Humor", books_path(query:"Humor") %></li>
      <li><%= link_to "Romance", books_path(query:"Romance") %></li>
      <li><%= link_to "Mystery", books_path(query:"Mystery") %></li>
      <li><%= link_to "Satire", books_path(query:"Satire") %></li>
      <li><%= link_to "Sci-Fi", books_path(query:"Sci-Fi") %></li>
      <li><%= link_to "Other", books_path(query:"Other") %></li>
    </ul>

    <h1 class="left-margin m-5 pt-5" style="text-align: center; margin-bottom: 20px; margin-top: 50px;">List of Books</h1>
    <div style="border-width: 0.5px; border-style: solid; margin-bottom: 50px;"></div>
     <div class = "row">

        <% @books.each do |book| %>

          <div class="col-sm-6" style="margin-bottom: 100px;">
            <!-- <img src="https://m.media-amazon.com/images/I/51Sn8PEXwcL.jpg" /> -->

            <div class="card-product">

              <%= cl_image_tag book.photo.key, class:"image-fit ml-5 pl-5" if book.photo.attached?%>

              <div style="text-align: center" class="card-product-infos ml-3">
                <h2><%= link_to book.title, book_path(book)%></h2>
                <h3><%= book.author %></h3>
                 <h4>Price: <%= book.rental_fee_per_day %>$/day</h4>
                <a><%= link_to "More details", book_path(book), class: "btn btn-primary" %></a>
                <p></p>
            </div>
            </div>
            <!-- <img src=<#%= cl_image_path book.photo.key, height: 100%, width: 120, crop: :fill %> /> -->
          </div>
        <% end %>
        <div class="content"></div>
        <!-- TEMPLATE -->
        <!-- <div class="card-product col-sm-6">
          <img src="https://m.media-amazon.com/images/I/51Sn8PEXwcL.jpg" />
          <div class="card-product-infos">
            <h2>Sapiens: A Brief History of Humankind</h2>
            <p>Sapiens: A Brief History of Humankind is a book by Yuval Noah Harari, first published in Hebrew in Israel in 2011 based on a series of lectures Harari taught at The Hebrew University of Jerusalem, and in English in 2014.</p>
          </div>
        </div> -->

      </div>
  </div>

</div>
