<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <a class="navbar-brand" href="#">
    <img src=<%= image_path "logo.jpg" %>/>
	</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a href="#about" style="color:#838da7">About Us</a>
  <a href="#contact" style="color:#838da7">All Categories</a>

	<input type="text" placeholder="Search by title...">


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#" style="color:#838da7">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" style="color:#838da7">Sign Up</a>
      </li>
    </ul>
  </div>
</div>

<div class="col-md-4 offset-md-1">
    <br>
    <h1><strong> Add Book </strong></h1>
    <%= simple_form_for(@book) do |f| %>
    <div class="form-inputs">
        <%= f.input :title %>
        <%= f.input :author %>
        <%= f.input :description %>
        <%= f.input :category %>
        <%= f.input :rental_fee_per_day %>
        <%= f.input :photo, as: :file %>
    </div>
    <div class="form-actions">
        <%= f.button :submit, class:"btn btn-primary" %>
        <%= link_to 'Back to Main', books_path %>
    </div>
    
    <% end %>
</div>


<div class="footer d-flex justify-content-center">
  <div class="footer-links">
    <h1>Follow Us</h1>
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
    <h6>2020, Le Wagon Batch #410 - RentaBook</h6>
  </div>
</div>