

<div class="container-rental img-cont ">
<h1 class="img-cont border-bottom border-dark m-3 form-container pt-4"><strong> Book Rental </strong></h1>
  <div>
    <div class="container form-flex bt-5 mr-5">
      <%= render 'shared/rental_form' %>
     <div class="img-cont  item-1 pr-5 ">
      <img style="height:500px; width:400px;" src="<%= cl_image_path @book.photo.key %>" class="p-5 book-fit">
      <div class="text-center pb-5 mb-5">
        <h2 class="pt-3"><%= @book.title %></h2>
        <h3><%= @book.author %></h3>
        <p><%= @book.description %></p>
        <p>Price: <%= @book.rental_fee_per_day %>$ per day</p>
        <p>Category:<%= @book.category %></p>

        <%= link_to 'Back to all books', books_path %>/
        <%= link_to 'Destroy', book_path(@book), method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
     </div>
    </div>
  </div>
</div>


<!-- RENDER  -->

