 <div class="container img-cont">
  <img src="<%= cl_image_path @book.photo.key %>" class="p-5 book-fit border border-dark mt-5">
  <div class="text-center">
    <h2 class="pt-3"><%= @book.title %></h2>
    <h3><%= @book.author %></h3>
    <p><%= @book.description %></p>
    <p>Price: 2$ p/d</p>
    <p><%= @book.category %></p>
    <%= link_to 'Rent this Book', pages_path %><br>
    <%= link_to 'Back to Main', books_path %><br>
    <%= link_to 'Destroy', book_path(@book), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </div>
 </div>
